---
import Layout from '../layouts/Layout.astro';
import { site, home } from '../content';
---

<Layout title="Home" description={site.description}>
  <h1>{site.name}</h1>
  <p class="subtitle">{site.subtitle}</p>

  <div class="blocks">
    {home.blocks.map((block) => (
      <div class="block">
        <h3>{block.title}</h3>
        <p>{block.body}</p>
      </div>
    ))}
  </div>

  <p class="rule">{home.rule}</p>
</Layout>
